<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljqiii.hairlessmain.dao.CategoryMapper">


    <insert id="insertProblemCategory">
        insert into problem_category(problemid,categoryid)values
        <foreach collection="categories" item="item" separator=",">
            (#{problem.id},#{item.id})
        </foreach>
    </insert>
</mapper>
