<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljqiii.hairlessmain.dao.FavoriteMapper">

    <insert id="batchInsertFavoriteProblem">
        insert into favorite(username,problemid,favoritefolderid)values
        <foreach collection="favoriteFolderIds" item="item" separator=",">
            (#{username},#{problem.id},#{item})
        </foreach>
    </insert>
    <delete id="batchDeleteFavoriteProblem">
        delete from favorite where username=#{username} and problemid=#{problem.id} and favoritefolderid in
        <foreach collection="favoriteFolderIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <select id="selectFavoriteProblemByUserNameAndFavoriteFolderId"
            resultType="com.ljqiii.hairlesscommon.domain.Problem">

        select problem.* from problem,favorite
        <if test="publicFlag==true and favoritefolderid!=-1">
            ,favoritefolder
        </if>
        where problem.id=favorite.problemid and
        favorite.favoritefolderid=#{favoritefolderid} and favorite.username=#{username}
        <if test="publicFlag==true and favoritefolderid!=-1">
            and favoritefolder.id=favorite.favoritefolderid
            and favoritefolder.ispublic=1
        </if>

    </select>
    <select id="selectFavoriteFolder" resultType="com.ljqiii.hairlesscommon.domain.FavoriteFolder">
        select * from favoritefolder where username=#{username}
        <if test="publicFlag">
            and ispublic=1
        </if>

    </select>
</mapper>
