<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljqiii.hairlessmain.dao.ProblemMapper">


    <select id="selectProblem" resultType="com.ljqiii.hairlesscommon.domain.Problem">
        select * from problem
        <if test="category!=null and category!=''">
            ,category, problem_category
        </if>
        WHERE 1
        <if test="category!=null and category!=''">
            and category.symbol = #{category}
            and problem_category.categoryid = category.id
            and problem_category.problemid = problem.id
        </if>
        <if test="owner != null and owner != ''">
            and problem.ownerUserName=#{owner}
        </if>
        order by problem.id

    </select>
    <select id="selectProblemByProblemIds" resultType="com.ljqiii.hairlesscommon.domain.Problem">

        select * from problem
        WHERE problem.id in
        <foreach item="item" collection="problemids" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by problem.id
    </select>


</mapper>
