<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljqiii.hairlessmain.dao.SubmitMapper">

    <select id="selectSumbitSuccessProblemId" resultType="java.lang.Integer">
        select distinct problemid
        from submit where username=#{username} and result='success' and problemid in
        <foreach item="item" collection="problems" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </select>

    <select id="selectSumbitProblemId" resultType="java.lang.Integer">
        select distinct problemid
        from submit where username=#{username} and problemid in
        <foreach item="item" collection="problems" open="(" separator="," close=")">
            #{item.id}
        </foreach>

    </select>


    <select id="selectCorrectLeaderboard" resultType="com.ljqiii.hairlesscommon.vo.CorrectLeaderboard">
        select user.username, user.avatar, count(distinct problemid) successCount
        from submit,
             user
        where submit.username = user.username
          and submit.result = 'success'
        group by user.username order by successCount desc limit 10
    </select>

</mapper>