<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljqiii.hairlesscompetition.dao.CompetitionProblemMapper">


    <resultMap id="ints" type="java.lang.Integer">
        <result column="competitionProblemId" property="value"/>
    </resultMap>


    <insert id="insertCompetitionProblem">
        insert into competition_problem(competitionId,competitionProblemId)
        values
        <foreach collection="problemIds" item="item" separator=",">
            (#{competition.id},#{item})
        </foreach>
    </insert>

    <select id="selectCompetitionProblemIds" resultMap="ints">
        select competitionProblemId from competition_problem where competitionId=#{competition.id}
    </select>

</mapper>
